div.video__controls
	div.controls_icon.controls_play
	input.controls_range.controls_progress(type='range' value='54' min='0' max='100' step='1')
	div.controls_icon.controls_audio
	input.controls_range.controls_volume(type='range' value='43' min='0' max='100' step='1')
	div.controls_icon.controls_fullscreen