div.video__controls
	button.controls_icon.controls_play
	div.controls__range.controls_progress
		div.controls__range.controls_bar
	button.controls_icon.controls_audio
	input.controls__range.controls_volume(type='range' name='volume' min='0' max='1' step='0.01' value='0.5')
	div.controls_icon.controls_fullscreen