//- div.video__controls
//- 	div.controls_icon.controls_play
//- 	input.controls_range.controls_progress(type='range' value='40' min='0' max='100' step='1')
//- 	div.controls_icon.controls_audio
//- 	input.controls_range.controls_volume(type='range' value='38' min='0' max='100' step='1')
//- 	div.controls_icon.controls_fullscreen

div.video__controls
	button.controls_icon.controls_play
	div.controls__range.controls_progress
		div.controls__range.controls_bar
	//- input.controls__range.controls_progress(type='range' name='progress' min='0' max='100' step='1' value='0')
	
	button.controls_icon.controls_audio
	input.controls__range.controls_volume(type='range' name='volume' min='0' max='1' step='0.01' value='0.5')
	div.controls_icon.controls_fullscreen