@mixin flex-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin none-select {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin trans-slow {
	-webkit-transition: 1s linear;
	-moz-transition: 1s linear;
	-o-transition: 1s linear;
	transition: 1s linear;
}
@mixin trans {
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}