$bodyColor: #021b25;
$bodyLightColor: #032d3d;

$firstColor: #5fa3be;
$secondColor: #ff8e24;

$textColor: #ece7e0;
$textInputColor: #bdb8b2;

$basicMargin: 30px;
$smallMargin: 10px;
$basicRadius: 3px;

$whiteOpacity: #ece7e098;
$white: #ffffff;
$grey: #a5a5a5;
