.button_discover {
  width: 360px;
  height: 75px;
  background-color: $main-color;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.button__link {
  color: $light-color;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}

.button__buy {
  width: 175px;
  height: 50px;
  background-color: $dark-color;
  color: $light-color;
  font-family: $text-font;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}
