.nav__list {
  width: 775px;
  @include flex-basic;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__link {
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: $light-color;
}

.nav__link:hover {
  color: $additional-color;
  @include trans-medium;
}

.nav__link:active {
  color: $dark-gold-color;
  @include trans-medium;
}