.nav-add {
  display: none;
}

.welcome_hidden {
  @include for-tablet-up {
    background-image: none;
  }
}
.welcome_hidden .nav-add {
  @include for-tablet-up {
    margin-top: 330px;
    display: initial;
  }
}

.welcome_hidden .nav-add__images {
  @include for-tablet-up {
    width: 658px;
    height: 375px;
  }
  @include for-tablet-down {
    display: flex;
    width: 315px;
    height: 95px;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.welcome_hidden .nav-add__img_container {
  @include for-tablet-up {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
  }
  @include for-tablet-down {
    width: 205px;
    margin-top: 0;
  }
  &::after {
    @include for-tablet-up {
      content: '';
      position: absolute;
      bottom: 90px;
      left: 35px;
      right: 35px;
      height: 2px;
      background-color: $dark-gray-color;
    }
    @include for-tablet-mid {
      bottom: 44px;
    }
    @include for-tablet {
      bottom: 59px;
    }
    @include for-tablet-down {
      bottom: 35px;
    }
    @include for-phone-mid {
      bottom: 60px;
    }
    @include for-phone {
      bottom: 35px;
    }
    @include for-phone-down {
      display: none;
    }
  }
}

.nav-add__social {
  @include for-tablet-up {
    margin-top: 100px;
  }
  @include for-tablet-mid {
    margin-top: 50px;
  }
  @include for-tablet {
    margin-top: 70px;
  }
  @include for-tablet-down {
    margin-top: 48px;
  }
  @include for-phone-down {
    margin-top: 5px;
  }
}
.nav-add__social .social__list {
  @include for-tablet-up {
    margin-right: auto;
    margin-left: auto;
  }

}

.welcome_hidden .nav-add__img {
  @include for-tablet-up {
    width: 658px;
    height: 194px;
  }
}
.welcome_hidden .nav-add__img_small {
  @include for-tablet-up {
    width: 319px;
    height: 161px;
  }
}
.welcome_hidden .nav-add__img_small,
.welcome_hidden .nav-add__img {
  @include for-tablet-down {
    width: 95px;
    height: 95px;
    object-fit: cover;
    object-position: center;
  }
}
.welcome_hidden .welcome__controls {
  @include for-tablet-up {
    display: none;
  }
}
.welcome_hidden .welcome__controls {
  @include for-tablet-up {
    display: none;
  }
}