.tickets__form {
	width: 660px;
  display: flex;
  justify-content: space-between;
}

.tickets__subtitle {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.type__container {
  margin-top: 51px;
}

.tickets__amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount__container {
  margin-top: 15px;
}

.tickets__text {
  margin-top: 11px;
  margin-bottom: 14px;
}

.amount__block {
  width: 146px;
  height: 46px;
  border: 2px solid $dark-color;
  @include flex-basic;
}

.amount__button {
  cursor: pointer;
  font-family: $text-font;
  font-style: normal;
  font-weight: normal;
  border: none;
  background-color: $light-color;
  font-size: 32px;
  line-height: 37px;
  height: 46px;
  width: 46px;
  text-align: center;
}

.amount__button:hover {
  background: $additional-color;
  @include trans-medium;
}

.amount__input {
  all: unset;

  text-align: center;
}

.tickets__result {
  margin-top: 50px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
}


@import '_radio-item.scss';