.video__button {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 29%;
  left: calc(50% - 110px);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background: url(assets/svg/video-button.svg);
}

.video__controls {
  display: flex;
  align-items: center;
  width: 1380px;
  height: 85px;
  position: relative;
  @include flex-basic;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $dark-color;
  @include for-laptop-up {
    width: calc(100% - 60px);
  }
  @include for-laptop {
    height: 61px;
    width: calc(100% - 80px);
    padding-left: 40px;
    padding-right: 40px;
  }
  @include for-tablet-mid {
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px;
    height: 56px;
  }
  @include for-phone-mid {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
    height: 54px;
  }
}

.controls {
  &_icon {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }
  &_play {
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 31px;
    background: url(assets/svg/play.svg);
    @include for-laptop-down {
      width: 22px;
      height: 29px;
    }
    @include for-phone-mid {
      width: 14px;
      height: 18px;
    }
  }
  &_pause {
    background: url(assets/svg/pause.svg);
    @include for-laptop-down {
      width: 22px;
      height: 29px;
    }
    @include for-phone-mid {
      width: 14px;
      height: 18px;
    }
  }
  &_audio {
    width: 36px;
    height: 31px;
    background: url(assets/svg/audio.svg);
    @include for-laptop-down {
      width: 26px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include for-phone-mid {
      width: 18px;
      height: 14px;
    }
  }
  &_mute {
    background: url(assets/svg/audio-mute.svg);
    @include for-laptop-down {
      width: 26px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include for-phone-mid {
      width: 18px;
      height: 14px;
    }
  }
  &_fullscreen {
    width: 35px;
    height: 35px;
    background: url(assets/svg/fullscreen.svg);
    @include for-laptop-down {
      width: 26px;
      height: 26px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include for-phone-mid {
      width: 18px;
      height: 18px;
    }
  }
  &_exit {
    background: url(assets/svg/fullscreen-exit.svg);
    @include for-laptop-down {
      width: 26px;
      height: 26px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include for-phone-mid {
      width: 18px;
      height: 18px;
    }
  }
}

.controls_icon:hover {
  @include gray-filter;
  @include trans-fast;
}

.controls__range {
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  @include for-laptop {
    height: 5px;
  }
  @include for-phone-mid {
    height: 4px;
  }
}

.controls__range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: $light-color;
  @include for-laptop {
    width: 13px;
    height: 13px;
  }
}


.controls_progress {
  width: 929px;
  background-color: $light-gray-color;
  // background: linear-gradient(to right, $main-color 0%, $main-color 54%, $light-gray-color 54%, $light-gray-color 100%);
  @include for-laptop-up {
    width: 62%;
  }
  @include for-laptop {
    // background: linear-gradient(to right, $main-color 0%, $main-color 40%, $light-gray-color 40%, $light-gray-color 100%);
  }
  @include for-tablet {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.controls_bar {
  position: relative;
  width: 1px;
  background-color: $main-color;
}

.controls_bar::after {
  content: '';
  position: absolute;
  top: -4px;
  right: -1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: ew-resize;
  background: $light-color;
  @include for-laptop {
    width: 13px;
    height: 13px;
  }
}

.controls_volume {
   width: 153px;
   background: linear-gradient(to right, $main-color 0%, $main-color 50%, $light-gray-color 50%, $light-gray-color 100%);
   @include for-laptop {
    width: 143px;
  }
  @include for-tablet {
    width: 486px;
  }
  @include for-tablet-down {
    width: 75%;
  }
}