doctype html
html(lang='en-US')
	head
		meta(charset='utf-8')
		meta(name='description' content='')
		meta(name='keywords' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href='style.css' rel='stylesheet')
		link(href='assets/icons/favicon.ico' rel='shortcut icon')
		link(href="https://fonts.gstatic.com" rel="preconnect")
		title Museum
	body
		include ../layout/header.pug
		main.main
			include ../layout/welcome.pug
			include ../layout/visiting.pug
			include ../layout/explore.pug
			include ../layout/video.pug
			include ../layout/gallery.pug
			include ../layout/tickets.pug
			include ../layout/contacts.pug
		include ../layout/footer.pug
		//script(src='../js/script.js')