doctype html
html(lang='en-US')
	head
		meta(charset='utf-8')
		meta(name='description' content='')
		meta(name='keywords' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href='style.css' rel='stylesheet')
		link(href='assets/icons/favicon.ico' rel='shortcut icon')
		link(href="https://fonts.gstatic.com" rel="preconnect")
		title Museum
		include ../utils/_variables.pug
		include ../utils/_mixins.pug
	body
		include ../layout/_header.pug
		main.main
			include ../layout/_welcome.pug
			include ../layout/_visiting.pug
			include ../layout/_explore.pug
			include ../layout/_video.pug
			include ../layout/_gallery.pug
			include ../layout/_tickets.pug
			include ../layout/_contacts.pug
		include ../layout/_footer.pug
		//script(src='../js/script.js')