doctype html
html(lang='en-US')
	head
		meta(charset='utf-8')
		meta(name='description' content='')
		meta(name='keywords' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href='../styles/style.css' rel='stylesheet')
		link(href='../assets/icons/favicon.ico' rel='shortcut icon')
		link(href="https://fonts.gstatic.com" rel="preconnect")
		title Museum
	body
		header
		main
			section(class='main__section welcome')
				h1(class='section__title') Welcome to the Louvre
			section(class='main__section visiting')
				h2(class='section__title') Virtual tour
			section(class='main__section explore')
				h2(class='section__title') Picture explore
			section(class='main__section video')
				h2(class='section__title') Video journey
			section(class='main__section gallery')
				h2(class='section__title') Art Gallery
			section(class='main__section tickets')
				h2(class='section__title') Buy tickets
			section(class='main__section contacts')
				h2(class='section__title') Contacts
		footer
		//script(src='../js/script.js')