mixin visiting__card(href, src, title)
	a.visiting__link(href=href target='_blank')
		div.visiting__card
			img.visiting__img(src=src alt=title)
			h3.visiting__title=title
			p.visiting__subtitle 360° Virtual Tour
			p.visiting__text Google Street Panorama View