// - links href
- let discoverHref = 'https://www.google.com/maps/@48.8618159,2.3366818,3a,75y,81.55h,73.4t/data=!3m7!1e1!3m5!1sAF1QipOVxZQuSy3Bx9T_HpH_7FtBHDTXvI6SF-A10ocT!2e10!3e12!7i5472!8i2736';

- let colonnadeHref = 'https://www.google.com/maps/@48.8601723,2.3395439,3a,88.4y,322.04h,84.25t/data=!3m7!1e1!3m5!1sAF1QipNMZGQuEA-pAUvIG_eP_2f3gWTKZEJ6XLVJ-Pgb!2e10!3e12!7i10240!8i5120';
- let denonHref = 'https://www.google.com/maps/@48.8563254,2.3352706,3a,75y,90t/data=!3m7!1e1!3m5!1sAF1QipNRj_CwP4coDMYdCHj6qHeBeJpI2VxU5BUsOX4F!2e10!3e12!7i11000!8i5500';
- let greekHref = 'https://www.google.com/maps/@48.860183,2.3356156,3a,90y,177.69h,95.61t/data=!3m7!1e1!3m5!1sAF1QipP7uFZnTITRe-7AEVAgHAfqiCL-03gvBHcYWgF3!2e10!3e12!7i5472!8i2736';
- let monaHref = 'https://www.google.com/maps/@48.8598788,2.3355157,3a,82.2y,7.53h,94t/data=!3m7!1e1!3m5!1sAF1QipO1wkUUbyzpPjj-OR0mR5etZJT-xl-40XK8rDQ3!2e10!3e12!7i10240!8i5120';
- let nightHref = 'https://www.google.com/maps/@48.8563254,2.3352706,3a,90y,21.26h,79.91t/data=!3m7!1e1!3m5!1sAF1QipPpGAowYatVyk3MMGnZAaQkYm2EUk-Dlca06SS5!2e10!3e12!7i11304!8i5652';
- let royalHref = 'https://www.google.com/maps/@48.8606882,2.3356791,3a,90y,328.36h,87.55t/data=!3m7!1e1!3m5!1sAF1QipMZ9YgnArbwEIbTDANeSQYFu9gNqpW_2Sv8FBvY!2e10!3e12!7i4352!8i1815';

- let welcomeHref = 'https://youtu.be/zp1BXPX8jcU';
- let louvreHref = 'https://youtu.be/Vi5D6FKhRmo';
- let promenadeHref = 'https://youtu.be/NOhDysLnTvY';
- let expositionHref = 'https://youtu.be/aWmJ5DgyWPI';
- let petitsHref = 'https://youtu.be/2OR0OCr6uRE';

- let youtubeHref = 'https://www.youtube.com/user/louvre';
- let instagramHref = 'https://www.instagram.com/museelouvre/';
- let facebookHref = 'https://www.facebook.com/museedulouvre';
- let twitterHref = 'http://twitter.com/museelouvre';
- let pinterestHref = 'https://www.pinterest.fr/museedulouvre/';

// - img src
- let colonnadeSrc = 'assets/img/visiting-cards/colonnade.jpg';
- let denonSrc = 'assets/img/visiting-cards/denon.jpg';
- let greekSrc = 'assets/img/visiting-cards/greek.jpg';
- let monaSrc = 'assets/img/visiting-cards/mona.jpg';
- let nightSrc = 'assets/img/visiting-cards/night.jpg';
- let royalSrc = 'assets/img/visiting-cards/royal.jpg';

- let beforeSrc = 'assets/img/explore-slider/before.jpg';
- let afterSrc = 'assets/img/explore-slider/after.jpg';

- let gallery1Src = 'assets/img/gallery/gallery1.jpg';
- let gallery2Src = 'assets/img/gallery/gallery2.jpg';
- let gallery3Src = 'assets/img/gallery/gallery3.jpg';
- let gallery4Src = 'assets/img/gallery/gallery4.jpg';
- let gallery5Src = 'assets/img/gallery/gallery5.jpg';
- let gallery6Src = 'assets/img/gallery/gallery6.jpg';
- let gallery7Src = 'assets/img/gallery/gallery7.jpg';
- let gallery8Src = 'assets/img/gallery/gallery8.jpg';
- let gallery9Src = 'assets/img/gallery/gallery9.jpg';
- let gallery10Src = 'assets/img/gallery/gallery10.jpg';
- let gallery11Src = 'assets/img/gallery/gallery11.jpg';
- let gallery12Src = 'assets/img/gallery/gallery12.jpg';
- let gallery13Src = 'assets/img/gallery/gallery13.jpg';
- let gallery14Src = 'assets/img/gallery/gallery14.jpg';
- let gallery15Src = 'assets/img/gallery/gallery15.jpg';