section.section.section_dark.explore
	div.container.explore__container
		div.explore__content
			h2.section__title.section__title_light Picture explore
			p.section__text
				| Las Meninas is a 1656 painting by Diego Velázquez, the leading artist of the Spanish Golden Age.
			p.section__text
				| It was cleaned in 1984 to remove a 
				span "yellow veil" 
				| of dust that had gathered since the previous restoration in the 19th century.
			p.section__text
				| The cleaning provoked furious protests, not because the picture had been damaged in any way, but because it looked different.
		div.explore__slider
			img.explore__img(src=beforeSrc alt='before / after')