section.section.video(id='video')
	div.container.video__container
		div.video__container_top.fullscreen_hidden
			h2.section__title.section__title_gold Video journey
			p.video__text Enter and visit one of the most famous museums in the world and enjoy masterpieces such as Mona Lisa or Hammurabi's Code
		div.video__container_bottom
			div.video__main
				video.video__item_main(src='assets/video/video0.mp4' id='video-item' poster='assets/video/poster0.jpg')
				div.video__button
				include ../components/_video-controls.pug
			div.video__more.fullscreen_hidden
				div.video__more_container
					+video__item('452', '254', expositionHref, '1', 'lazy', 'active')
					+video__item('452', '254', louvreHref, '2', 'lazy')
					+video__item('452', '254', promenadeHref, '3', 'lazy')
					+video__item('452', '254', welcomeHref, '4', 'lazy')
					+video__item('452', '254', petitsHref, '5', 'lazy')
			div.video__slider.fullscreen_hidden
				div.video__slider_container
					+video__button('left')
					+video__pagination('1', 'active')
					+video__pagination('2')
					+video__pagination('3')
					+video__pagination('4')
					+video__pagination('5')
					+video__button('right')