section(class='section section_dark welcome')
	div.container.welcome__container
		h1.section__title.section__title_light Welcome to the Louvre
		p.welcome__text From the castle to the museum
		include ../components/_button-discover.pug