.contacts {
  padding-bottom: 68px;
  @include for-laptop {
    padding-bottom: 56px;
  }
}

.contacts__content {
  margin-top: 103px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  @include for-laptop {
    margin-top: 74px;
    font-size: 20px;
    line-height: 23px;
  }
}

.contacts__subtitle {
  margin-bottom: 50px;
  max-width: 227px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  @include for-laptop {
    margin-bottom: 35px;
    max-width: 185px;
    font-size: 24px;
    line-height: 28px;
  }
}

.contacts__text {
  margin-bottom: 25px;
  @include for-laptop {
    margin-bottom: 15px;
  }
}

.contacts__link {
  color: $dark-color;
}

.contacts__link:hover {
  color: $main-color;
  @include trans-medium;
}

.map__img {
  width: 960px;
  @include for-laptop {
    width: calc(100vw - 330px);
    height: calc(65vw - 212px);
  }
}