.explore__container {
  display: flex;
  justify-content: space-between;
  @include for-laptop {
    display: block;
  }
}

.explore__content {
  max-width: 659px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: $light-color;
  @include for-laptop {
    max-width: 984px;
    font-size: 20px;
  }
}

.explore__text_container {
  margin-top: 104px;
  @include for-laptop {
    margin-top: 73px;
  }
  @include for-tablet {
    display: none;
  }
}

.explore__text {
  margin-bottom: 26px;

  &_gold {
    color: $additional-color;
  }

  &_hidden {
    @include for-laptop {
      display: none;
    }
  }

  @include for-laptop {
    margin-bottom: 0;
  }
}

.explore__slider {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 720px;
  height: 700px;
  @include for-laptop {
    margin-top: 58px;
  }
  @include for-tablet {
    margin-top: 63px;
    width: 728px;
    height: 705px;
  }
  @include for-phone {
    width: 380px;
    height: 368px;
  }
}

.explore__img {
  @include for-tablet {
    width: 728px;
    height: 705px;
  }
  @include for-phone {
    width: 380px;
    height: 368px;
  }
}