@import '../components/_explore-controls.scss';

.explore {
  @include for-tablet {
    padding-bottom: 37px;
  }
  @include for-phone {
    padding-bottom: 40px;
  }
}
.explore__container {
  display: flex;
  justify-content: space-between;
  @include for-laptop-mid {
    display: block;
  }
}

.explore__content {
  max-width: 659px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: $light-color;
  @include for-laptop-up {
    margin-right: 40px;
  }
  @include for-laptop-mid {
    margin-right: 0;
    max-width: 100%;
  }
  @include for-laptop {
    max-width: 984px;
    font-size: 20px;
  }
}

.explore__text_container {
  margin-top: 104px;
  @include for-laptop-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include for-laptop {
    align-items: flex-start;
    margin-top: 73px;
  }
  @include for-tablet {
    display: none;
  }
}

.explore__text {
  margin-bottom: 26px;

  &_gold {
    color: $additional-color;
  }

  &_hidden {
    @include for-laptop-down {
      display: none;
    }
  }
  @include for-laptop-mid {
    width: calc(100% - 80px);
  }
  @include for-laptop {
    width: auto;
    margin-bottom: 0;
  }
}

.explore__slider_container {
  overflow: hidden;
  margin-top: 15px;
  width: 720px;
  height: 700px;
  @include for-laptop-up {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }
  @include for-laptop {
    width: 720px;
    height: 700px;

    margin-top: 58px;
  }
  @include for-laptop-mid {
    display: flex;
    justify-content: center;
  }
  @include for-tablet {
    margin-top: 63px;
    height: 500px;
    width: 100%;
  }
  @include for-phone {
    height: 368px;
  }
}

.explore__slider {
  position: relative;
  @include for-laptop-mid {
    width: calc(100% - 80px);
    
  }
  @include for-laptop {
    width: 720px;
    height: 700px;
  }
  @include for-tablet {
    width: 100%;
    height: 500px;
  }
  @include for-phone {
    height: 368px;
  }
}

.explore__item, .explore__img  {
  @include for-tablet {
    height: 500px;
  }
}

.explore__item {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.explore__img {
  display: block;
  object-fit: cover;
  object-position: center;
  @include for-phone {
    height: 368px;
  }
}