.form-buy {
  display: none;
  position: fixed;
  z-index: 100;
  width: 1440px;
  height: 755px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 91px;
  top:0;
  right: 0;
  left: 0;
  background-color: white;
  @include trans-slow;
}
#shadow { 
  position: fixed;
  width:100%;
  height:100%;
  z-index:3;
  background:#000;
  opacity: 0.5;
  left:0;
  top:0;
}
.form-buy__container {
  position: relative;
  width: 970px;
  height: 663px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.form-buy__booking {
  width: 400px;
}

.form-buy__logo {
  width: 85px;
  height: 41px;
  background-image: url(assets/svg/logo-gold.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-buy .form-buy__title {
  font-size: 50px;
  line-height: 55px;
  letter-spacing: normal;
}

.form-buy .form-buy__title::after {
  bottom: -47px;
}

.form-buy__subtitle {
  margin-top: 13px;
  font-size: 18px;
  line-height: 21px;
  color: $main-color;
}

.booking__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 73px;
}

.booking__input {
  width: 398px;
  height: 43px;
  border: 1px solid $dark-color;
  margin-bottom: 20px;
}

.booking__input_narrow {
  width: 188px;
}

.booking__amount {
  padding: 10px 15px 8px 15px;
  width: 400px;
  height: 115px;
  border: 1px solid $dark-color;
}

.booking__amount_title {
  position: relative;
  font-family: $title-font;
  font-size: 18px;
  line-height: 20px;
  color: $additional-color;
  text-transform: capitalize;
}

.booking__amount_title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $main-color;
}

.booking__amount_item {
  margin-bottom: 10px;
  @include flex-basic;
}

.booking__text {
  font-size: 18px;
  line-height: 21px;
}

.booking__amount_container {
  margin-top: 20px;
}

.booking__amount_item .amount__block {
  width: 105px;
  height: 25px;
}

.booking__amount_item .amount__button {
  width: 35px;
  height: 25px;
  font-size: 18px;
  line-height: 21px;
  background-color: $dark-color;
  color: $light-color;
}

.form-buy__overview {
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 26px;
  width: 530px;

  height: 663px;
  border: 1px solid black;
}

.form-buy__close {
  cursor: pointer;
  position: absolute;
  top: -55px;
  right: -185px;
  width: 25px;
  height: 25px;
  background-image: url(assets/svg/close.svg);
}

.overview__title {
  font-family: $text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
}

.overview__subtitle {
  margin-top: 3px;
  font-family: $text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740C11;
  opacity: 0.9;
}

.overview__info {
  margin-top: 9px;
}
.overview__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.overview__icon {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  &_date {
    background-image: url(assets/svg/date.svg);
  }
  &_time {
    background-image: url(assets/svg/time.svg);
  }
  &_check {
    background-image: url(assets/svg/check.svg);
  }
}
.overview__cost {
  position: relative;
  margin-top: 28px;
}

.overview__cost::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $main-color;
}
.cost__text,
.cost__total {
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #030303;
}

.cost__item {
  justify-content: space-between;
}

.overview__item_container {
  display: flex;
}
.cost__icon {
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 20px;
  margin-right: 10px;
  background-image: url(assets/svg/2.svg);
}
.pay__total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: $text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;

  color: #030303;
}
.overview__img {
  position: absolute;
  top: 24px;
  right: 28px;
  width: 150px;
  height: 120px;
  background-image: url(assets/img/form.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.pay__card {

}
.overview__text {
  font-family: $text-font;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}
.booking__input::-webkit-input-placeholder {
  font-family: $text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #030303;
  padding-left: 45px;
}
.input__wrap {
  position: relative;
}
.input__wrap::after {
  content: '';
  position: absolute;
  top: 14px;
  left: 15px;
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.input__wrap_date::after {
  background-image: url(assets/svg/date.svg);
}
.input__wrap_time::after {
  background-image: url(assets/svg/time.svg);
}
.input__wrap_name::after {
  background-image: url(assets/svg/name.svg);
}
.input__wrap_phone::after {
  height: 23px;
  background-image: url(assets/svg/phone.svg);
}
.input__wrap_mail::after {
  background-image: url(assets/svg/mail.svg);
}
.input__wrap_ticket::after {
  background-image: url(assets/svg/ticket.svg);
}

.booking__input_hidden {
  display: none;
}

.input__wrap_date::before,
.input__wrap_time::before,
.input__wrap_ticket::before {
  content: '';
  position: absolute;
  top: 14px;
  right: 14px;
  background-position: center;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-image: url(assets/svg/arrow-form.svg);
}

.pay__cards {
  width: 470px;
  position: relative;
}

.pay__card {
  position: absolute;
}

.pay__card_front {
  width: 320px;
  height: 176px;
  top: 10px;
  left: 0;
  padding: 15px 20px 20px 20px;
  background-color: #BCBCBC;
  position: relative;
}
.pay__card_back {
  width: 360px;
  height: 211px;
  top: 40px;
  right: 0;
  background-color: #939393;
}

.card__text {
  margin-bottom: 4px;
  font-family: $text-font;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}
.pay__input {
  height: 35px;
  border: none;
  margin-bottom: 10px;
  &_number {
    width: 215px;
  }
  &_name {
    width: 320px;
  }
}

.card__img {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  &_visa {
    width: 55px;
    height: 16px;
    top: 34px;
    right: 20px;
    background-image: url(assets/icons/visa.png);
  }
  &_master {
    width: 53px;
    height: 32px;
    top: 65px;
    right: 20px;
    background-image: url(assets/icons/master.png);
  }
}

.button__book_container {
  position: absolute;
  bottom: 26px;
  right: 30px;
}


.button__book {
  width: 220px;
  height: 45px;
  background-color: $main-color;
  color: $light-color;
  border: none;
  font-family: $text-font;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button__book:focus {
  outline: none;
}

.button__book .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  z-index: 300;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

