@import '../components/_logo.scss';
@import '../components/_nav.scss';

.header__container {
  padding-top: 59px;
  padding-bottom: 58px;
  @include flex-basic;
  @include for-laptop {
    padding-top: 49px;
    padding-bottom: 48px;
  }
  @include for-tablet {
    padding-top: 45px;
    padding-bottom: 34px;
  }
  @include for-phone {
    padding-top: 35px;
    padding-bottom: 25px;
  }
}