@import '../components/_ticket-form.scss';

.tickets {
	padding-bottom: 69px;
  @include for-laptop {
    padding-bottom: 55px;
  }
  @include for-tablet {
    padding-bottom: 40px;
  }
}
.tickets__container {
	position: relative;
}

.tickets__content {
  margin-top: 103px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  @include for-laptop {
    margin-top: 74px;
    max-width: 955px;
  }
  @include for-tablet {
    margin-top: 64px;
    max-width: 679px;
  }
}

.tickets__img {
  object-fit: cover;
  width: 720px;
  height: 550px;
  @include for-laptop {
    width: 700px;
    height: 440px;
  }
  @include for-tablet {
    width: 444px;
    height: 340px;
  }
}

.tickets__buy {
  margin-top: 60px;
  border: none;
  @include for-tablet {
    margin-top: 30px;
  }
}