@import '../components/_video-controls.scss';
@import '../components/_video-slider-buttons.scss';

.video {
  padding-bottom: 70px;
  @include for-laptop {
    padding-bottom: 55px;
  }
  @include for-tablet {
    padding-bottom: 77px;
  }
  @include for-phone {
    padding-bottom: 33px;
  }
}

.video__container_top {
  @include flex-basic;
}
.video__text {
  max-width: 720px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  @include for-laptop {
    display: none;
  }
}

.video__main {
  margin-top: 75px;
  @include for-laptop {
    margin-top: 30px;
  }
  @include for-tablet {
    margin-top: 20px;
  }
  @include for-phone {
    margin-top: 17px;
  }
}

.video__item_main {
  width: 1440px;
  height: 650px;
  @include for-laptop {
    width: 984px;
    height: 444px;
  }
  @include for-tablet {
    width: 728px;
    height: 329px;
  }
  @include for-phone {
    width: 380px;
    height: 172px;
  }
}

.video__item_main iframe {
  width: 100%;
  height: 100%;
}

.video__more {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  @include for-tablet {
    margin-top: 21px;
  }
  @include for-phone {
    margin-top: 40px;
  }
}

.video__more iframe {
  @include for-laptop {
    width: 300px;
    height: 170px;
  }
  @include for-tablet {
    width: 354px;
    height: 199px;
  }
  @include for-phone {
    width: 180px;
    height: 101px;
  }
}
.video__more iframe:last-child {
  @include for-tablet {
    display: none;
  }
}